body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.project_title
{
    text-align: center;
    font-size: 1.5em;
}

.project_time {
    font-size: 0.9em;
}

.bg_projects
{
    padding-top: 50px;
    width: 100%;
    padding-bottom: 50px;
}

.bg_info {
    padding-top: 50px;
    padding-bottom: 50px;

}

.section_title {
    text-align: center;
    font-size: 2em;
}

.card_image_container {
  background-color: "#9b1434";
  height: 30%;
}

.card_body
{
  margin: 10px;
  height: 300px;
}

.card_image_container img {
    height: 100%;
    display: block;
    object-fit: contain;
    background-color: #999999;
}

.bottom
{
  flex-direction: row-reverse;
}

.card-component {
  flex: auto;
  overflow: hidden;
  margin: 5px;
}

/* styles.css */
.blurred-image {
  filter: blur(15px); /* Ajuste o valor conforme necessário */
  opacity: 0.75;
}