.bg-section
{
    padding-top: 50px;
    padding-bottom: 50px;
}

.section-title {
    text-align: center;
    font-size: 2rem;
}


.card-bottom
{
  flex-direction: row-reverse;
}

.card-component {
  flex: auto;
  overflow: hidden;
  margin: 5px;
}

.blurred-image {
  filter: blur(15px);
  opacity: 0.75;
  margin-top: -20px;
  margin-right: -20px;
  margin-left: -20px;
}

.project-image
{
  height: 199px;
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.social-icons
{
  color: #ffffff;
  height: 48px
}

.responsive-image {
  max-width: 25%;
  max-height: auto;
  border: 1px solid #000;
  object-fit: cover;
  resize: horizontal;
}

.about-me
{
  font-size: calc(.5em + 1.5vw);
  justify-content: center;
}

.about-me-container
{
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .about-me-container
  {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
}
