.body
{
  background-color: var(--background);
}

.bg-section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.section-title {
  text-align: center;
  font-size: 2rem;
  color: var(--text);
}


.project-card-bottom {
  flex-direction: row-reverse;
}

.project-card-body
{
  height: 300px !important;
}

.project-card-component {
  min-width: 310px !important;
  flex: auto;
  overflow: hidden;
  margin: 5px;
  background-color: var(--cardBackground) !important;
  display: flex;
  flex-direction: column;
}

.project-card-button-container {
  margin-top: auto;
}
.column
{
  margin-bottom: 20px;
}

.card-text
{
  color: var(--text) !important;
}

.project-card-title
{
  font-size: 1.5em !important;
}

@media only screen and (max-width: 576px) {
  .project-card-title
  {
    font-size: 1.2em !important;
  }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
  .project-card-title
  {
    font-size: 1.2em !important;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1399px) {
  .project-card-title
  {
    font-size: 1em !important;
  }
}

@media only screen and (min-width: 1400px) {
  .project-card-title
  {
    font-size: 1.5em !important;
  }
}

.project-card-text
{
  height: 48px;
  flex-grow: 1;
}

.project-card-image-container
{
  height: 200px;
  border-bottom: solid 1px var(--cardImageBorder);
  overflow: hidden;
}

.blurred-image {
  filter: blur(15px);
  opacity: 0.75;
  margin-top: -20px;
  margin-right: -20px;
  margin-left: -20px;
}

.project-image {
  height: 199px;
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.experience-card
{
  background-color: var(--cardBackground) !important;
  border: 0;
}

.experience-list-item
{
  background-color: var(--background) !important;
  border: 0 !important;
}

.brand-name
{
  font-size: 2.5em !important;
  margin-top: -5px;
}

@media only screen and (max-width: 992px) {
  .brand-name {
    font-size: 1.5em !important;
  }
}

.social-icons {
  color: #ffffff;
  height: 48px
}

.social-icons-container {
  flex-direction: row-reverse;
}

@media only screen and (max-width: 767px) {
  .social-icons-container {
    flex-direction: row;
  }
}

.responsive-image {
  max-width: 25%;
  max-height: auto;
  border: 1px solid #ccc;
  object-fit: cover;
  resize: horizontal;
}

.about-me {
  font-size: 1em;
  justify-content: center;
  color: var(--text);
}


@media only screen and (max-width: 576px) {
  .about-me {
    font-size: 1em;
  }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
  .about-me {
    font-size: 1em;
  }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
  .about-me {
    font-size: 1em;
  }
}

@media only screen and (min-width: 993px) {
  .about-me {
    font-size: 2em;
  }
}

#experience {
  scroll-margin-top: 4em;
}

#projects {
  scroll-margin-top: 4em;
}

#education {
  scroll-margin-top: 4em;
}


.about-me-container {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .about-me-container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
}

.company-logo
{
  width: 64px !important;
  height: 64px;
}